[Desktop Entry]
Type=Application
Name=Copy Desktop Items
Comment=
Exec=bash -c "cp /usr/share/applications/code.desktop ~/Desktop/.;cp /usr/share/applications/paraview.desktop ~/Desktop/."
Icon=vscode
Terminal=false
StartupNotify=false
