[Desktop Entry]
Type=Application
Name=OpenFOAM/v2406
Comment=
Exec=bash -c "source /cvmfs/software.eessi.io/versions/2023.06/init/bash;ml OpenFOAM/v2406 ;source $FOAM_BASH;clear;exec bash;"
Icon=openfoamicon
Terminal=true
StartupNotify=false
