[Desktop Entry]
Type=Application
Name=OpenFOAM Terminal
Comment=
Exec=/bin/bash -i -c "ml OpenFOAM/v2406 && source $FOAM_BASH;clear;echo 'FOAM_BASH Sourced';EESSI_SILENT=1 /bin/bash"
Icon=openfoamicon
Terminal=true
StartupNotify=false
